@using CoreLibrary.Models

<h1>Перевод валют</h1>

<h2>Дата: @Model.Data</h2>

<h3>Имя: @Model.NameValue</h3>

<h4>Код: @Model.CharCode</h4>

<h5>Значение: @Model.Value.</h5>

<h6>Результат перевода: @Model.Result</h6>